// Colors
$white: #ffffff;
$transparent: transparent;
$black: #333333;
$gray-100: #fafafa;
$gray-200: #f7f7f7;
$gray-300: #f1f1f1;
$gray-500: #808080;
$red: #de012c;
$dark-blue: #323954;

// Fonts
$font-primary: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
